.bg_contain {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}
.bg_contain-d_ib {
  @extend .bg_contain;
  display: inline-block;
  vertical-align: middle;
}