.bg_contain {
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}
.bg_contain-d_ib {
  @extend .bg_contain;
  display: inline-block;
  vertical-align: middle;
}
.fz12 {
  font-size: .24rem;
  @media (min-width: 360px) {
    font-size: .22rem;
  }
  @media (min-width: 400px) {
    font-size: .2rem;
  }
}
.fz14 {
  font-size: .28rem;
  @media (min-width: 360px) {
    font-size: .26rem;
  }
  @media (min-width: 400px) {
    font-size: .25rem;
  }
}
.fz16 {
  font-size: .32rem;
  @media (min-width: 360px) {
    font-size: .28rem;
  }
  @media (min-width: 400px) {
    font-size: .26rem;
  }
}
.fz18 {
  font-size: .36rem;
  @media (min-width: 360px) {
    font-size: .32rem;
  }
  @media (min-width: 400px) {
    font-size: .30rem;
  }
}
.fz20 {
  font-size: .4rem;
  @media (min-width: 360px) {
    font-size: .361rem;
  }
  @media (min-width: 400px) {
    font-size: .32rem;
  }
}