@charset "UTF-8";
@import "reset.css";
@import "variables.css";
@import "extend.css";
.pop-questionnaire h3,
.pop-questionnaire h4 {
  font-weight: normal;
}
.pop-questionnaire {
  background-color: #fff;
  border-radius: .1rem;
  width: 6.6rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
  font-size: 0.25rem;
  color: #666;
  display: none;
  font-family: arial, "Microsoft YaHei";
  border-top: 1px solid transparent;
  overflow: hidden;
}
.pop-questionnaire .container {
  width: 5.48rem;
  margin: auto;
}
.pop-questionnaire h3.banner {
  margin-top: 0.26rem;
  @extend .pop-questionnaire .container;
  height: 1.02rem;
  color: #fff;
  @extend .bg_contain;
  background-image: url(../../../dist/mobile/images/banner.png);
  text-align: center;
  line-height: 0.35rem;
}
.pop-questionnaire h3.banner span {
  display: inline-block;
  padding-top: .1rem;
}
.pop-questionnaire h3.banner em {
  color: $color-text-emphasize2;
  font-weight: bold;
  line-height: ;
  text-align: center;
}
.pop-questionnaire .question-item {
  @extend .pop-questionnaire .container;
}
.pop-questionnaire .question-item h4.title {
  font-size: 0.29rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  line-height: 0.5rem;
  padding: 0.24rem 0 0.24rem .28rem;
  position: relative;
}
.pop-questionnaire .question-item h4.title .num {
  position: absolute;
  left: 0;
  top: 0.24rem;
}
.question-item .in-con li .check-item {
  position: relative;
  display: inline-block;
  height: 0.36rem;
  line-height: 0.36rem;
  margin-top: 0.3rem;
}
.question-item .in-con li .check-item input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.question-item .in-con li .check-item input + .icon-check {
  @extend .bg_contain-d_ib;
  width: 0.36rem;
  height: 0.36rem;
  background-image: url(../../../dist/mobile/images/icon-unchecked.png);
  margin-right: .1rem;
}
.question-item .in-con li .check-item input:checked + .icon-check {
  background-image: url(../../../dist/mobile/images/icon-checked.png);
}
.pop-questionnaire .con .tip {
  text-align: center;
  margin: .2rem 0 .3rem;
}
.pop-questionnaire .con .tip em {
  color: $color-text-emphasize1;
}
.pop-questionnaire .btn-box {
  background-color: #f5f5f5;
  text-align: center;
  padding: 0.15rem 0;
}
.pop-questionnaire .btn-box button,
.pop-questionnaire .btn-box a {
  display: inline-block;
  width: 2.28rem;
  height: 0.7rem;
  line-height: 0.7rem;
  border: none;
  outline: none;
  border-bottom: 0.03rem solid #ccc;
  border-radius: .1rem;
  color: #fff;
  text-align: center;
}
.pop-questionnaire .btn-box button:first-child,
.pop-questionnaire .btn-box a:first-child {
  margin-right: .6rem;
}
.btn-questionnaire1 {
  background: linear-gradient(to bottom, #ffc78c 0%,#ffb569 3%,#ffb05f 4%,#ff983c 96%,#f7933a 100%);
}
.btn-questionnaire2 {
  background: linear-gradient(to bottom, #fca6a8 0%,#fb8c8f 3%,#fb8486 4%,#fb7d80 29%,#fa6d70 67%,#fa6467 96%,#f26164 100%);
}
.pop-questionnaire .btn-box button:disabled,
.pop-questionnaire .btn-box a:disabled,
.btn-questionnaire-grey {
  background: linear-gradient(to bottom, #c7c7c7 0%,#b6b6b6 3%,#b1b1b1 4%,#9a9a9a 93%,#989898 97%,#949494 100%) !important;
}
.pop-questionnaire-giveup .con,
.pop-questionnaire-complete .con {
  color: #333;
  @extend .fz14;
  padding: 0.23rem 0;
  text-align: center;
}
.pop-questionnaire-complete .con .txt,
.pop-questionnaire-giveup .con .txt {
  line-height: 0.44rem;
}
.pop-questionnaire-giveup .con .txt em,
.pop-questionnaire-complete .con .txt em {
  color: $color-text-emphasize1;
}
.pop-questionnaire-complete .con .icon-check-big-circle {
  @extend .bg_contain;
  margin: 0 auto .1rem;
  background-image: url(../../../dist/mobile/images/icon-check-big-circle.png);
  height: 0.63rem;
  width: 0.63rem;
}
.pop-questionnaire-complete .con .icon-box {
  color: #fb7a7a;
  @extend .fz16;
}