block body
  .pop-questionnaire.pop-questionnaire-question
    //- 题目弹框
    .fix-border-radius-top
      .left
      .right
    .fix-border-radius-con
      h3.banner
        span.
          恭喜您，被抽中参与有奖问卷调查
          <br>完成问卷即可获得<em>2000</em>T点
      .con
        .question-item
          h4.title
            span.num 1.
            | 抽奖问卷抽奖问卷问卷抽奖抽奖问卷问奖抽奖抽问卷问卷奖抽抽奖问卷抽奖
          .in-con
            ul
              li
                label.check-item
                  input(type="checkbox", name="test1")
                  i.icon-check
                  span 抽奖抽奖抽奖抽奖抽奖抽
              li
                label.check-item
                  input(type="checkbox", name="test1")
                  i.icon-check
                  span 抽奖抽奖抽
              li
                label.check-item
                  input(type="checkbox", name="test1")
                  i.icon-check
                  span 抽奖抽奖抽奖抽奖抽奖抽奖抽
              li
                label.check-item
                  input(type="checkbox", name="test1")
                  i.icon-check
                  span 抽奖抽奖抽奖抽奖抽奖抽奖抽
          .tip 尚剩<em>4</em>余题，加油哦！
      .btn-box
        button.btn-questionnaire1.cancel 放弃参与
        button.btn-questionnaire2.next.btn-questionnaire-grey 下一题
    //- .btn-box
    //-   button.btn-questionnaire1.cancel 放弃参与
    //-   button.btn-questionnaire2.complete 确认提交
    .fix-border-radius-bottom
      .left
      .right

  .pop-questionnaire.pop-questionnaire-giveup
    //- 放弃提示弹框
    .fix-border-radius-top
      .left
      .right
    .fix-border-radius-con
      .con
        .txt.
          每次用户仅限<em>1</em>次参与机会
          <br>错过了可就没有了哦！
      .btn-box
        button.btn-questionnaire1.confirm(data-pa-lightbox="close") 确定放弃
        button.btn-questionnaire2.cancel(data-pa-lightbox="close") 继续参与
    .fix-border-radius-bottom
      .left
      .right

  .pop-questionnaire.pop-questionnaire-complete
    //- 完成弹框
    .fix-border-radius-top
      .left
      .right
    .fix-border-radius-con
      .con
        .icon-box
          .img-box.icon-check-big-circle
          p 提交成功
        .txt.
          感谢您的热心参与，2000T点已发放至您的账户
      .btn-box
        a.btn-questionnaire1(data-pa-lightbox="close") 查看账户明细
        a.btn-questionnaire2(data-pa-lightbox="close") 去玩游戏
    .fix-border-radius-bottom
      .left
      .right